{% extends 'base.html' %}
{% block title %}Вход — DriveSpot{% endblock %}

{% block content %}
<div class="max-w-md mx-auto card mt-10">

  <h1 class="text-3xl font-bold text-center mb-6 neon">Вход</h1>

  <form method="post" class="space-y-4">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Имя пользователя" class="input-field">
    <input type="password" name="password" placeholder="Пароль" class="input-field">

    <button type="submit" class="btn-primary">Войти</button>
  </form>

  <p class="text-center mt-4 text-gray-400">
    Нет аккаунта? <a href="/users/register/" class="neon">Создать</a>
  </p>

</div>
{% endblock %}
